**Import** **Data**

In [14]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/omh.csv

--2019-12-10 04:19:14--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 83629 (82K) [text/plain]
Saving to: ‘sp500.csv.1’

sp500.csv.1         100%[===================>]  81.67K  --.-KB/s    in 0.02s

2019-12-10 04:19:15 (3.23 MB/s) - ‘sp500.csv.1’ saved [83629/83629]

--2019-12-10 04:19:19--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/omh.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 539 [text/plain]
Saving to: ‘omh.csv.1’

omh.csv.1           100%[===================>]     539  --.-KB/s    in 0s

2019-12-10 04:19:20 (107 MB/s) - ‘omh.csv.1’ saved [539/539]

In [0]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set formattign options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
# %matplotlib inline

# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

# one month of stock history data
omh = pd.read_csv("omh.csv")

**DataFrame** **or** **Series的簡單運算**

In [33]:
# set the seed to allow replicatable results
np.random.seed(123456)
# create the DataFrame
df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
df

# multiply everything by 2
df * 2

# get first row 第一行
s = df.iloc[0] 


# subtract first row from every row of the DataFrame
diff = df - s 
diff

# subtract DataFrame from Series
diff2 = s - df
diff2

# B, C
s2 = s[1:3]
# add E
s2['E'] = 0
# see how alignment is applied in math
df + s2

# get rows 1 through three, and only B, C columns (B,C行的1~3)
subframe = df[1:4][['B', 'C']]
# we have extracted a little square in the middle of df
subframe

# demonstrate the alignment of the subtraction
df - subframe

# get the A column
a_col = df['A']
df.sub(a_col, axis=0)

          B         C
1 -0.173215  0.119209
2 -2.104569 -0.494929
3 -0.706771 -1.039575

Counts of values

In [34]:
s = pd.Series(['a', 'a', 'b', 'c', np.NaN])
# number of occurrences of each unique value
s.count()

4

Unique and number of unique values

In [35]:
# return a list of unique items
s.unique()

s.nunique()

s.nunique(dropna=False)

4

Minimum and maximums

In [41]:
# location of min price for both stocks
omh[['MSFT', 'AAPL']].min()

# and location of the max
omh[['MSFT', 'AAPL']].max()

# location of min price for both stocks
omh[['MSFT', 'AAPL']].idxmin()

# and location of the max
omh[['MSFT', 'AAPL']].idxmax()

MSFT    3
AAPL    2
dtype: int64

Smallest and Largest Values

In [20]:
# get the 4 smallest values
omh.nsmallest(4, ['MSFT'])['MSFT']

# get the 4 largest values
omh.nlargest(4, ['MSFT'])['MSFT']

# nsmallest on a Series
omh.MSFT.nsmallest(4)

11    45.16
12    45.74
21    46.45
10    46.67
Name: MSFT, dtype: float64

Accumulations

In [37]:
# calculate a cumulative product
pd.Series([1, 2, 3, 4]).cumprod()

# calculate a cumulative sum
pd.Series([1, 2, 3, 4]).cumsum()

0     1
1     3
2     6
3    10
dtype: int64

**描述統計學**

In [38]:
omh.describe()

            MSFT        AAPL
count  22.000000   22.000000
mean   47.493182  112.411364
std     0.933077    2.388772
min    45.160000  106.750000
25%    46.967500  111.660000
50%    47.625000  112.530000
75%    48.125000  114.087500
max    48.840000  115.930000

Mean平均值

In [42]:
# the mean of all the columns in omh
omh.mean()

# calc the mean of the values in each row
omh.mean(axis=1)[:5]

0    81.845
1    81.545
2    82.005
3    82.165
4    81.710
dtype: float64

Median中位數

In [43]:
# calc the median of the values in each column
omh.median()

MSFT     47.625
AAPL    112.530
dtype: float64

Mode眾數

In [46]:
# find the mode of this Series
s = pd.Series([1, 2, 3, 3, 5])
s.mode()

# there can be more than one mode
s = pd.Series([1, 2, 3, 3, 5, 1])
s.mode()

0    1
1    3
dtype: int64

Variance變異數

In [47]:
# calc the variance of the values in each column
omh.var()

# Standard Deviation標準差

# standard deviation
omh.std()

MSFT    0.933077
AAPL    2.388772
dtype: float64

Covarianc共變數(相關係數

In [48]:
# covariance of MSFT vs AAPL
omh.MSFT.cov(omh.AAPL)

1.9261240259740264

作業

In [51]:
df1 = pd.DataFrame(np.matrix([[60,60],[59,54],[61,66],[62,71],[58,49],[60,60]]),columns=['A', 'B'])
#import陣列
df1.describe()

               A          B
count   6.000000   6.000000
mean   60.000000  60.000000
std     1.414214   7.924645
min    58.000000  49.000000
25%    59.250000  55.500000
50%    60.000000  60.000000
75%    60.750000  64.500000
max    62.000000  71.000000